.catalog-bouquets {
	margin-top: 200px;
}

.catalog-bouquets__name {
	margin-top: 24px;
	font-size: var(--font-size-name-price-item-text);
	font-weight: 600;
	line-height: 26.6px;
	color: var(--text-name-item-color);
	text-decoration: none;
}

.catalog-bouquets__price {
	margin: 0 8px 0 8px;
	font-size: var(--font-size-name-price-item-text);
	font-weight: 700;
	line-height: 26.6px;
	color: var(--text-price-color);
}

.catalog-bouquets__add-to-cart {
	font-size: var(--btn-font-size-text);
	border: 2px solid var(--text-main-accent-color);
	background-color: inherit;
	font-weight: 700;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	margin-top: 24px;
	padding: 15px 26px;
	transition: 0.3s ease-in-out;
}

.carousel-btn {
	border: none;
	background-color: transparent;
	outline: none;
	background: none;
}

svg.bi-arrow-right-circle-fill:hover,
svg.bi-arrow-left-circle-fill:hover {
	fill: var(--text-main-accent-color);
}

#carousel-btn-icon-next {
	background-size: cover;
	height: 32px;
	width: 32px;
	display: block;
}

.catalog-bouquets__carousel-wrapper {
	overflow: hidden;
}

.carousel-bouquet-item {
	min-width: 100%;
}

.catalog-bouquets__carousel-slide {
	transition: transform 0.5s ease-out;
	display: flex;
}

@media (min-width: 768px) {
	.catalog-bouquets__carousel-slide {
		display: flex;
	}

	.carousel-bouquet-item {
		min-width: 50%;
	}
}

@media (min-width: 1024px) {
	.carousel-bouquet-item {
		min-width: 20%;
	}
}
