.proposal {
    display: flex;
    height: 130px;
    gap: 15px;
}

.proposal__content {
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 15px 0;
}

.proposal__image-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--text-decorative-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--font-decorative-text);
    font-size: var(--font-size-features-title-text);
    color: var(--text-decorative-color);
    font-weight: 400;
    line-height: 24px;
}

.subtitle {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-about-title);
    color: var(--text-main-accent-color);
    font-weight: 400;
    line-height: 40.8px;
}

h4 {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-under-icon-text);
    color: var(--text-main-accent-color);
    font-weight: 400;
    line-height: 28.6px;

}

.text {
    font-family: var(--font-text);
    font-size: var(--font-size-subtitle-text);
    color: var(--text-subtitle-color);
    font-weight: 500;
    line-height: 27px;
}

.text-small {
    font-family: var(--font-text);
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 27px;


}

.divider {
    width: 60px;
    height: 2px;
    margin: 18px 0;
    background-color: var(--text-decorative-color);
}

.divider--center {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 2px;
    background-color: var(--text-decorative-color);
}

.divider__wide {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 150px;
    height: 1px;
    background-color: var(--text-devider-color);
}

.btn {
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
    font-size: var(--hero-btn-action-font-size-text);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 30px;
    margin: 10px 0;
    transition: color, background-color 0.2s linear;
}

.btn--primary {
    color: var(--btn-primary-text-color);
    border: 2px solid var(--btn-primary-text-color);
}

.btn--secondary {
    color: var(--btn-secondary-text-color);
    background-color: var(--btn-secondary-background-color);
}

.btn--primary:hover {
    color: var(--btn-primary-hover-text-color);
    background-color: var(--btn-primary-hover-background-color);
}

.btn--secondary:hover {
    background-color: var(--btn-secondary-hover-background-color)
}