.contacts {
    padding-bottom: 60px;
}

.contacts__promo {
    background: url("../images/about/top/about-background.png") 50% 50% / cover no-repeat;
    height: 280px;
    width: 100%;
    text-align: center;
    padding-top: 90px;
}

.contacts-title {
    color: var(--text-about-title-color);
    font-size: var(--font-size-section-title-text);
    margin-bottom: 25px;
}

.contacts__descr {
    color: var(--text-main-accent-color);
}

.contacts_link {
    text-decoration: none;
    color: var(--text-main-accent-color);
}

.contacts_span {
    text-decoration: underline;
    font-weight: 700;
}

.rules { 
    margin-bottom: 60px;
}

.rules__title {
    font-size:var(--font-size-features-title-text);
    margin-bottom: 20px;
    font-size: 32px;
}

.rules__subtitle {
    font-size: var(--font-size-section-title-text);
}

.rules__divider {
    display: block;
    margin: 15px 0 15px 0;
}

.rules__item {
    opacity: 0.7;
    margin-bottom: 25px;
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
}

.rules__span {
    font-style: italic;
    color: var(--text-name-item-color);
    opacity: 1;
    font-weight: 700;
}

.rules__descr {
    display: flex;
}

.rules__text {
    max-width: 60%;
    padding: 0 50px 0 20px;
}

.faq-descr {
    display: none;
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
}

.faq__title {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 24px;
    padding: 20px 0 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules_faq-item {
    border-bottom: solid 1px var(--text-decorative-color);
    position: relative;
}

.faq-plus{
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    position: absolute;
    right: 0;
    font-size: 34px; 
    cursor: pointer; 
}

.sales__wrapper {
    background: url("../images/contacts/contacts-background2.png") 50% 50% / cover no-repeat;
    height: 500px;
    width: 100%;
    color: var(--text-about-title-color);
    padding: 120px 0 0 80px;
    margin-bottom: 60px;
}

.sales__title {
    color: var(--text-about-title-color);
    text-decoration: underline;
}

.sales__subtitle { 
    color: #fff;
    margin: 20px 0 20px 0;
    font-size: var(--font-size-section-title-text);
}

.sales-discount {
    color: var(--text-about-title-color);
    opacity: 0.3;
}

.sales__text {
    font-weight: 500;
    font-size: 20px;
}

.sales__text-additional {
    display: block;
    margin: 20px 0 40px 0;
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
}

.sales__title {
    font-size: 32px;
}

.delivery__wrapper {
    display: flex;
    margin-bottom: 40px;
}

.delivery__descr {
    width: 100%;
}

.delivery__title {
    font-size:var(--font-size-features-title-text);
    margin-bottom: 20px;
    font-size: 32px;
}

.delivery__subtitle {
    font-size: var(--font-size-section-title-text);
}

.delivery__divider {
    display: block;
    margin: 15px 0 15px 0;
}

.delivery__title-descr {
    color: var(--text-main-accent-color);
    font-size: var(--font-size-subtitle-text);
    font-weight: 700;
    margin-bottom: 40px;
}

.delivery__advantages-item {
    display: flex;
    margin-bottom: 40px;
}

.delivery__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 20px;
    background-color: var(--text-color);
    border-radius: 100%;
    margin-right: 20px;
}

.delivery__img {
    width: 40px;
    height: 40px;
}

.delivery__txt-subtitle {
    font-size: var(--font-size-features-title-text);
}

.delivery__txt {
    color: var(--text-color);
}

.delivery__from {
    padding: 20px 0 20px 0;
}

input {
    width: 100%;    
    margin-bottom: 20px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid var(--text-divider-color);
  }