.contacts {
    padding-bottom: 60px;
}

.contacts__promo {
    background: url("../images/about/top/about-background.png") 50% 50% / cover no-repeat;
    height: 280px;
    width: 100%;
    text-align: center;
    padding-top: 90px;
}

.contacts-title {
    color: var(--text-about-title-color);
    font-size: var(--font-size-section-title-text);
    margin-bottom: 25px;
}

.contacts__descr {
    color: var(--text-main-accent-color);
}

.contacts_link {
    text-decoration: none;
    color: var(--text-main-accent-color);
}

.contacts_span {
    text-decoration: underline;
    font-weight: 700;
}

.rules { 
    margin-bottom: 60px;
}

.rules__title {
    font-size:var(--font-size-features-title-text);
    margin-bottom: 20px;
    font-size: 32px;
}

.rules__subtitle {
    font-size: var(--font-size-section-title-text);
}

.rules__divider {
    display: block;
    margin: 15px 0 15px 0;
}

.rules__item {
    opacity: 0.7;
    margin-bottom: 25px;
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
}

.rules__span {
    font-style: italic;
    color: var(--text-name-item-color);
    opacity: 1;
    font-weight: 700;
}

.rules__descr {
    display: flex;
}

.rules__text {
    max-width: 60%;
    padding: 0 50px 0 20px;
}

.faq-descr {
    display: none;
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
}

.faq__title {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 24px;
    padding: 20px 0 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules_faq-item {
    border-bottom: solid 1px var(--text-decorative-color);
    position: relative;
}

.faq-plus{
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    position: absolute;
    right: 0;
    font-size: 34px; 
    cursor: pointer; 
}

.sales__wrapper {
    background: url("../images/contacts/contacts-background2.png") 50% 50% / cover no-repeat;
    height: 500px;
    width: 100%;
    color: var(--text-about-title-color);
    padding: 120px 0 0 80px;
    margin-bottom: 60px;
}

.sales__title {
    color: var(--text-about-title-color);
    text-decoration: underline;
}

.sales__subtitle { 
    color: #fff;
    margin: 20px 0 20px 0;
    font-size: var(--font-size-section-title-text);
}

.sales-discount {
    color: var(--text-about-title-color);
    opacity: 0.3;
}

.sales__text {
    font-weight: 500;
    font-size: 20px;
}

.sales__text-additional {
    display: block;
    margin: 20px 0 40px 0;
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
}

.sales__title {
    font-size: 32px;
}

.delivery__wrapper {
    display: flex;
    margin-bottom: 60px;
}

.delivery__descr {
    width: 100%;
}

.delivery__title {
    font-size:var(--font-size-features-title-text);
    margin-bottom: 20px;
    font-size: 32px;
}

.delivery__subtitle {
    font-size: var(--font-size-section-title-text);
}

.delivery__divider {
    display: block;
    margin: 15px 0 15px 0;
}

.delivery__title-descr {
    color: var(--text-main-accent-color);
    font-size: var(--font-size-subtitle-text);
    font-weight: 700;
    margin-bottom: 40px;
}

.delivery__advantages-item {
    display: flex;
    margin-bottom: 40px;
}

.delivery__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 20px;
    background-color: var(--text-color);
    border-radius: 100%;
    margin-right: 20px;
}

.delivery__img {
    width: 40px;
    height: 40px;
}

.delivery__txt-subtitle {
    font-size: var(--font-size-features-title-text);
}

.delivery__txt {
    color: var(--text-color);
}

.delivery__form {
    padding: 40px 0 0 0;
    color: var(--text-subtitle-color);
}

input {
    width: 100%;    
}

.form__input {
    border: none;
    border-bottom: 3px solid var(--text-divider-color);
    padding: 30px 40px 20px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__textarea {
    padding: 30px 40px 20px 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 140px;
    resize: none;
    border: none;
    border-bottom: 3px solid var(--text-divider-color);
}

.form__btn {
    display: block;
    width: 100%;
    height: 50px;
    color: var(--btn-secondary-text-color);
    background-color: var(--btn-secondary-hover-background-color);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.store {
    margin-bottom: 60px;
}

.store__wrapper {
    display: flex;
    align-items: center;
}

.store-img {
    width: 440px;
    margin: 0 40px 0 40px;
}

.store__descr {
    padding: 0 100px 0 100px;
    width: 100%;
}

.store__title {
    font-size:var(--font-size-features-title-text);
    margin-bottom: 20px;
    font-size: 32px;
}

.store__subtitle {
    font-size: var(--font-size-section-title-text);
    margin-bottom: 20px;

}

.store__divider {
    display: block;
    margin: 20px 0 20px 0;
}

.store__info, .store__workhours {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.store__contacts-link {
    text-decoration: none;
    color: var(--text-color);
}

.store__divider-long {
    display: block;
    width: 100%;
    margin: 10px 0 20px 0;
}

.store__workhours {
    margin-bottom: 40px;
}

.store__btn {
    text-decoration: none;
    font-size: var(--hero-btn-action-font-size-text);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 147px;
    height: 49px;
    padding: 18px 30px;
    color: var(--btn-primary-text-color);
    border: 2px solid var(--btn-primary-text-color);
    margin: 10px 0;
    transition: color, background-color 0.2s linear;
}

.map__wrapper {
    margin-bottom: 60px;
}

.map {
    width: 100%;
    height: 450px;
}

@media (min-width: 320px) {
    .sales__wrapper {
        padding: 40px;
    }

    .sales__subtitle {
        margin: 0 0 10px 0;
        font-size: var(--font-size-about-title);
    }

    .sales__text {
        font-size: var(--font-size-subtitle-text);
    }

    .sales__title {
        text-decoration: none;
    }

    .delivery__wrapper, .store__wrapper {
        display: block;
    }

    .store-img {
        width: 100%;
        margin: 0 0 40px 0;
    }

    .store__descr {
        padding: 0;
    }

    .store__info {
        display: block;
    }
}

@media (min-width: 576px) {
    .sales__wrapper {
        padding: 40px 40px 0 40px;
        height: 400px;
    }

    .sales__subtitle {
        margin: 0 0 10px 0;
        font-size: var(--font-size-about-title);
    }

    .sales__text {
        font-size: var(--font-size-subtitle-text);
    }

    .sales__title {
        text-decoration: none;
    }

    .delivery__form {
        padding: 0;
    }

    .delivery__wrapper, .store__wrapper {
        display: block;
    }

    .store-img {
        width: 100%;
        margin: 0 0 40px 0;
    }

    .store__descr {
        padding: 0;
    }

    .form__btn {
        font-size: var(--hero-btn-action-font-size-text);;
    }

}

@media (min-width: 768px) {
    .sales__wrapper {
        padding: 40px 40px 0 40px;
        height: 400px;
    }

    .sales__subtitle {
        color: #fff;
        margin: 20px 0 20px 0;
        font-size: var(--font-size-section-title-text);
    }

    .delivery__form {
        width: 95%;
    }

    .delivery__wrapper {
        display: block;
    }

    .store__wrapper {
        display: flex;
    }

    .store-img {
        width: 45%;
        margin: 0 0 40px 0;
    }

    .store__divider {
        display: none;
    }

    .store__divider-long {
        margin: 10px;
    }

    .store__descr {
        padding: 0 20px 0 20px;
    }

    .form__btn {
        font-size: var(--hero-btn-action-font-size-text);;
    }

    .store__workhours {
        display: block;
    }

}

@media (min-width: 992px) {
    .delivery__wrapper {
        display: flex;
        align-items: center;
    }

    .delivery__descr {
        width: 85%;
        padding-right: 20px;
    }

    .store__divider {
        display: block;
    }

    .store__info, .store__workhours {
        display: flex;
    }

} 

@media (min-width: 1200px) {
    .delivery__descr {
        width: 100%;
        padding-right: 20px;
    }

    .store__descr {
        padding-left: 60px;
    }

}