.create-bouquets {
    text-align: center;
    margin: auto;
}

.create-bouquets__description {
    font-family: var(--font-decorative-text);
    font-size: 24px;
    color: var(--text-decorative-color);
    margin-bottom: 20px;
}

.create-bouquets__divider {
    width: 60px;
    height: 2px;
    margin: 18px 0;
    background-color: var(--text-decorative-color);

}

.create-bouquets__title {
    font-family: var(--font-main-accent-text);
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-main-accent-color);
    font-weight: normal;
}

.create-bouquets__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
    margin-bottom: 25px;
}

.create-bouquets__content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.create-bouquets__box-special-collections {
    display: flex;
    align-items: center; 
}

.create-bouquets__special-collection-img {
    order: 1;
}

.create-bouquets__special-collections {
    order: 2; 
}


.create-bouquets__specialFlowerCollections {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}

.create-bouquets__img-circle {
    width: 80%;
    margin-left: 0%;
    height: auto;
    order: 4;
    flex: 0 0 100px;
    margin-right: 20px;
}

.create-bouquets__img-oval-girl {
    width: 80%;
}

.create-bouquets__special-collections-flowers a {
    color: var(--text-main-accent-color);
    text-decoration: none;
    font-family: var(--font-main-accent-text);
    font-size: 23px;
}

.create-bouquets__special-collections-flowers a:hover {
    text-decoration: underline;
}

.create-bouquets__img-oval{
    margin-top: 40px;
}





