.flower-block__content {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flower-block__img {
    object-fit: cover;
    height: auto;
}

@media (min-width: 480px) {
    .flower-block__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 780px) {
    .flower-block__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .flower-block__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}