.footer__container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__container-logo {
    width: 149px;
    height: auto;
}

.footer__container .call__link {
    font-size: var(--font-size-official-info-text);
    text-decoration: none;
    color: var(--text-main-accent-color);
}

.footer__container .email__link:hover,
.footer__container .call__link:hover {
    text-decoration: underline;
}

.footer__container .email__link {
    font-size: var(--font-size-official-info-text);
    text-decoration: none;
    color: var(--text-main-accent-color);
}

.footer__nav {
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

.footer__nav .item__link {
    text-decoration: none;
    color: var(--text-color);
}

.footer__nav .item__link:hover {
    text-decoration: underline;
    color: var(--text-main-accent-color);
}

.footer-text {
    margin: auto;
    text-align: center;
    max-width: 360px;
    font-style: italic;
    font-size: var(--font-size-official-info-text);
    color: var(--text-color);
}

@media (min-width: 150px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

@media (min-width: 770px) {
    .footer__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

@media (min-width: 990px) {
    .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}