.header__nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo-icon {
    width: 121px;
    height: 73px;
}

.header__nav-list {
    display: none;
    list-style-type: none;
}

.header__nav-item {
    margin: 20px;
}

.header__nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-main-accent-color);
    font-size: var(--font-size-main-menu-text);
    letter-spacing: 1px;
    position: relative;
}

.header__call-us {
    display: none;
    font-size: var(--font-size-official-info-text);
    color: var(--header-text-color-call-us);
}

.header__call-us-link {
    display: none;
    text-decoration: none;
    color: var(--text-name-item-color);
}

.header__nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--text-main-accent-color);
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}

.header__nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header__call-us-link:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .header__burger-menu {
        display: none;
    }

    .header__nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__call-us,
    .header__call-us-link {
        display: flex;
        justify-content: flex-end;
    }
}