.hero {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    padding-bottom: 240px;
    padding-top: 240px;
    max-width: 50%;
    text-align: left;
}

.hero__subtitle {
    font-size: var(--hero-font-size-subtitle-text);
    margin: 18px 0;
}

@media (min-width: 500px) {
    .hero {
        background-image: url("../images/hero-backgrounds/hero-background.png");
    }
}