.hero {
    background-image: url("../images/hero-backgrounds/hero-background.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    padding-bottom: 240px;
    padding-top: 240px;
    max-width: 50%;
    text-align: left;
}

.hero__subtitle {
    font-size: var(--hero-font-size-subtitle-text);
    margin: 18px 0;
}

.hero__action {
    text-decoration: none;
    display: inline-block;
    font-size: var(--hero-btn-action-font-size-text);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--btn-primary-text-color);
    border: 2px solid var(--btn-primary-text-color);
    padding: 18px 30px;
    margin: 10px 0;
    transition: color, background-color 0.2s linear;
}

.hero__action:hover {
    color: var(--btn-primary-hover-text-color);
    background-color: var(--btn-primary-hover-background-color);
}