.container-composition-text {
	background-image: url("../images/composition-card-background.png");
	background-size: cover;
	padding: 50px;
}

.new-bouquets,
.new-bouquets__events {
	margin-top: 140px;
	margin-bottom: 140px;
}

.new-bouquets__composition-card-background {
	max-width: 100%;
	height: auto;
}

.new-bouquets__composition-title {
	font-family: "Frank Ruhl Libre", serif;
	font-size: 28px;
}

.new-bouquets__composition-i,
.new-bouquets__order-icon,
.new-bouquets__order-flowers {
	color: var(--new-bouquets-text-color-compositions);
}

.new-bouquets__composition-subtitle,
.new-bouquets__order-types,
.new-bouquets__composition-title {
	color: var(--text-name-item-color);
}

.new-bouquets__composition-subtitle {
	font-size: 18px;
	margin-bottom: 24px;
}

.new-bouquets__order-types {
	list-style: none;
	padding: 0;

	@media (min-width: 576px) {
		display: flex;
	}
}

.new-bouquets__order {
	font-size: 14px;
}

.new-bouquets__order-icon {
	width: 20px;
}

.new-bouquets__order-flowers {
	padding: 15px 25px;
	font-size: 11px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background-color: var(--btn-secondary-background-color);
	border: none;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 50px;
}

.new-bouquets__order-flowers:hover {
	background-color: var(--btn-secondary-hover-background-color);
}

.new-bouquets__event-icon {
	width: 50px;
	height: 50px;
}

@media (min-width: 576px) {
	.new-bouquets__event {
		width: 50%;
	}

	.new-bouquets__events {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 768px) {
	.new-bouquets__event {
		width: 33.33%;
	}
}

@media (min-width: 1024px) {
	.new-bouquets__event {
		width: 20%;
	}
}
