.new-bouquets__composition-card-background {
    max-width: 100%;
    height: auto;

}

.container-composition {
    margin: 0 10%;

}

.container-composition-text {
    background-image: url('/images/composition-card-background.png');
    background-size: cover;
    padding: 80px;

}

.new-bouquets__composition-title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
}

.new-bouquets__composition-i,
.new-bouquets__order-icon, 
.new-bouquets__order-flowers {
    color: #F6F1ED;
}

divider {
    height: 2px;
    width: 6%;
    background-color: rgba(111, 108, 78, 0.19);
}

.new-bouquets__composition-subtitle,
.new-bouquets__order-types,
.new-bouquets__composition-title {
    color: #6F6C4E;
}

.new-bouquets__composition-subtitle {
    font-size: 18px;
    margin-bottom: 24px;

}

.new-bouquets__order-types {
    list-style: none;
    padding: 0;
    display: flex;

}

.new-bouquets__order {
    margin-right: 3%;
}

.new-bouquets__order-icon {
    margin-bottom: -5px;

}

.new-bouquets__order-flowers {
    padding: 15px 25px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #7c7669;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 50px;
}

.new-bouquets__order-flowers:hover {background-color: #6f6c4e;}