.our-services {
    text-align: center;
    margin: auto;
}

.our-services__decoration-img,
.our-services__events-img,
.our-services__floral-design-img {
    height: auto;
    object-fit: cover;
}

.our-services__description {
    font-family: var(--font-decorative-text);
    font-size: 24px;
    color: var(--text-decorative-color);
    margin-bottom: 20px;
}

.our-services__divider{
    height: 2px;
    width: 5%;
    margin: 18px 0;
    background-color: var(--text-decorative-color);
    margin-left: auto;
    margin-right: auto;
}

.our-services__title {
    font-family: var(--font-main-accent-text);
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-main-accent-color);
    font-weight: normal;
}

.our-services__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
    margin-bottom: 25px;
}

.our-services__decoration-title {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}

.our-services__decoration-content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
}

.our-services__events-title {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}

.our-services__events-content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
}

.our-services__floral-design-title {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}

.our-services__floral-design-content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
}

.create-bouquets {
    max-width: 312px;
    text-align: left;
    margin: auto;
}

.create-bouquets__description {
    font-family: var(--font-decorative-text);
    font-size: 24px;
    color: var(--text-decorative-color);
    margin-bottom: 20px;
}

.create-bouquets__divider{
    width: 60px;
    height: 2px;
    margin: 18px 0;
    background-color: var(--text-decorative-color);

}

.create-bouquets__title {
    font-family: var(--font-main-accent-text);
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-main-accent-color);
    font-weight: normal;
}

.create-bouquets__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
    margin-bottom: 25px;
}

.create-bouquets__content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.create-bouquets__specialFlowerCollections {
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}

.create-bouquets__text {
    order: 2;
    flex-grow: 1;
}

.create-bouquets__special-collections {
    order: 3;
    flex-basis: 100%;
}

.create-bouquets__img-circle {
    width: 70px;
    height: auto;
    order: 4;
    flex: 0 0 100px;
    margin-right: 20px;
}

.create-bouquets__specialFlowerCollections__content {
    order: 5;
    flex-grow: 1;
}

