.our-services {
    text-align: center;
    margin: auto;
}

.our-services__decoration-img,
.our-services__events-img,
.our-services__floral-design-img {
    height: auto;
    object-fit: cover;
    width: 95%;
    margin: 5px;
    float: left;
}

.our-services__description {
    font-family: var(--font-decorative-text);
    font-size: 24px;
    color: var(--text-decorative-color);
    margin-bottom: 20px;
}

.our-services__divider {
    height: 2px;
    width: 5%;
    margin: 18px 0;
    background-color: var(--text-decorative-color);
    margin-left: auto;
    margin-right: auto;
}

.our-services__title {
    font-family: var(--font-main-accent-text);
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-main-accent-color);
    font-weight: normal;
}

.our-services__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-subtitle-color);
    margin-bottom: 25px;
}

.our-services__decoration-title, 
.our-services__events-title,
.our-services__floral-design-title{
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
    position: relative;
    bottom: -22px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
}
.our-services__events-title{
    margin-left: 5px;
}

.our-services__floral-design-title{
    margin-left: 7px;
}

.our-services__decoration .toggle-icon-decoration,
.our-services__events .toggle-icon-events,
.our-services__floral-design .toggle-icon-floral-design{
    font-family: var(--font-main-accent-text);
    color: var(--text-main-accent-color);
    position: absolute;
    bottom: 0px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}

.our-services__decoration-content,
.our-services__events-content,
.our-services__floral-design-content {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
    display: none;
}

.our-services__collection{
    margin-bottom: 20px;
}

/* .our-services__decoration,
.our-services__events,
.our-services__floral-design{
    margin: 5px;
} */



