<section class="about-us">
    <img class="about-us__image" width="555" src="images/features-image.png" alt="Woman with a flower pot.">
    <div class="about-us__content">
        <p class="about-us__content-description">
            About us
        </p>
        <h2 class="about-us__title">
            Our Mission is to Make Your Lives Beautiful
        </h2>
        <div class="divider"></div>
        <p class="about-us__description">
            We are a small yet professional flower studio based in NY.
        </p>
        <p class="about-us__text">
            Our mission is to make your lives <span class="about-us__emphasized-text">brighter and beautiful</span>,
            help
            you
            impress guests during important events, and
            make your loved ones happy with <span class="about-us__emphasized-text">wonderful bouquets</span> and flower
            arrangements.
        </p>
        <div class="proposal">
            <img class="proposal__image" width="60" src="images/flower-pot.svg" alt="Image of a flower pot.">
            <p class="proposal__title">
                Elegant Compositions from $59
            </p>
            <p class="proposal__description">
                Order fresh and stylish flower arrangements at Sami's Flowers! We offer
                different bouquets for fair prices.
            </p>
        </div>
    </div>
</section>