<div class="catalog-bouquets">
	<div
		class="catalog-bouquets__new-in-shop container d-flex flex-column align-items-center"
	>
		<h2 class="catalog-bouquets__title title">New in shop</h2>
		<h3 class="catalog-bouquets__subtitle subtitle text-center">
			New in Shop Bouquets
		</h3>
		<div class="divider divider--center"></div>
		<p class="catalog-bouquets__select-bouquet text text-center">
			Select your bouquet and get it delivered in the shortest possible time!
		</p>
	</div>

	<div class="catalog-bouquets__carousel container d-flex">
		<button class="catalog-bouquets__carousel-btn--prev carousel-btn">
			<img
				src="../images/catalog-bouquets/arrow-left-circle-fill.svg"
				alt="Previous button"
				class="carousel-btn-icon"
			/>
		</button>
		<div class="catalog-bouquets__carousel-wrapper">
			<div class="catalog-bouquets__carousel-slide"></div>
		</div>
		<button class="catalog-bouquets__carousel-btn--next carousel-btn">
			<img
				src="../images/catalog-bouquets/arrow-right-circle-fill.svg"
				alt="Next button"
				class="carousel-btn-icon"
			/>
		</button>
	</div>
</div>
