<section id="catalog" class="catalog">
  <div class="container">
    <span class="catalog__title title">Our flowers</span>
    <h2 class="catalog__subtitle subtitle">
      Flowers Make Everyone’s Day Brighter
    </h2>
    <div class="divider--center"></div>
    <p class="catalog__text text">
      Want to remind about yourself or express your gratitude? Browse our
      collections.
    </p>
    <div class="catalog__wrapper">
      <ul class="catalog__tabs">
        <li class="catalog__tab catalog__tab_active">
          <div>Greetings</div>
        </li>
        <li class="catalog__tab">
          <div>Thank You</div>
        </li>
        <li class="catalog__tab">
          <div>Have a Good Day!</div>
        </li>
      </ul>
      <div class="catalog__content">
        <div class="catalog-item">
          <div class="catalog-item__wrapper">
            <a href="#"><img src="images/catalog/fantasy.png" alt="Fantasy" class="catalog-item__image" /></a>
            <a href="#" class="catalog-item__name">Fantasy</a>
            <div class="catalog-item__prices">
              <div class="catalog-item__price">$119,00USD</div>
            </div>
            <button class="catalog-item__btn btn btn--primary">Add to cart</button>
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__wrapper">
            <a href="#"><img src="images/catalog/daphne.png" alt="Daphne" class="catalog-item__image" /></a>
            <a href="#" class="catalog-item__name">Daphne</a>
            <div class="catalog-item__prices">
              <div class="catalog-item__price">$59,00USD</div>
            </div>
            <button class="catalog-item__btn btn btn--primary">Add to cart</button>
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__wrapper">
            <a href="#"><img src="images/catalog/grace.png" alt="Grace" class="catalog-item__image" /></a>
            <a href="#" class="catalog-item__name">Grace</a>
            <div class="catalog-item__prices">
              <div class="catalog-item__old-price">$89,00USD</div>
              <div class="catalog-item__price">$80,00USD</div>
            </div>
            <button class="catalog-item__btn btn btn--primary">Add to cart</button>
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__wrapper">
            <a href="#"><img src="images/catalog/autumn.png" alt="Autumn" class="catalog-item__image" /></a>
            <a href="#" class="catalog-item__name">Autumn</a>
            <div class="catalog-item__prices">
              <div class="catalog-item__price">$69,00USD</div>
            </div>
            <button class="catalog-item__btn btn btn--primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>