<section id="catalog" class="catalog">
  <div class="container">
    <span class="catalog__title title">Our flowers</span>
    <h2 class="catalog__subtitle subtitle">
      Flowers Make Everyone’s Day Brighter
    </h2>
    <div class="divider--center"></div>
    <p class="catalog__text text">
      Want to remind about yourself or express your gratitude? Browse our
      collections.
    </p>
    <div class="catalog__wrapper">
      <ul class="catalog__tabs">
        <li class="catalog__tab catalog__tab_active">
          <div class="catalog__tab-greet">Greetings</div>
        </li>
        <li class="catalog__tab">
          <div class="catalog__tab-thank">Thank You</div>
        </li>
        <li class="catalog__tab">
          <div class="catalog__tab-good">Have a Good Day!</div>
        </li>
      </ul>
      <div class="catalog__content catalog__content-greet catalog__content_active">
      </div>
      <div class="catalog__content catalog__content-thank">
      </div>
      <div class="catalog__content catalog__content-good">
      </div>
    </div>
  </div>
</section>