<div class="features">
    <div class="container-features">
        <ul class="features__list">
            <li class="features__item">
                <div class="feature features__feature">
                    <div class="feature__header">
                        <img class="feature__image" src="images/features-icons/scooter.svg"
                            alt="Image of a scooter.">
                        <p class="feature__title">
                            Fast Delivery 24/7
                        </p>
                    </div>
                    <div class="divider feature__divider"></div>
                    <p class="feature__description">
                        Forgot about an important date? Order flowers right now!
                    </p>
                </div>
            </li>
            <li class="features__item">
                <div class="feature features__feature">
                    <div class="feature__header">
                        <img class="feature__image"  src="images/features-icons/flower-bouquet.svg"
                            alt="Image of a flower bouquet.">
                        <p class="feature__title">
                            Only Fresh Flowers
                        </p>
                    </div>
                    <div class="divider feature__divider"></div>
                    <p class="feature__description">
                        All flowers are freshly cut and always meet your expectations.
                    </p>
                </div>
            </li>
            <li class="features__item">
                <div class="feature features__feature">
                    <div class="feature__header">
                        <img class="feature__image" src="images/features-icons/apron.svg"
                            alt="Image of an apron.">
                        <p class="feature__title">
                            Made by Artists
                        </p>
                    </div>
                    <div class="divider feature__divider"></div>
                    <p class="feature__description">
                        We create not just bouquets but real works of floral art.
                    </p>
                </div>
            </li>
            <li class="features__item">
                <div class="feature features__feature">
                    <div class="feature__header">
                        <img class="feature__image" src="images/features-icons/artbook.svg"
                            alt="Image of an artbook.">
                        <p class="feature__title">
                            Range of Services
                        </p>
                    </div>
                    <div class="divider feature__divider"></div>
                    <p class="feature__description">
                        We also offer decoration, floral design, and other services.</p>
                </div>
            </li>
        </ul>
    </div>
</div>