<div class="flower-block container">
    <ul class="flower-block__content">
        <li class="flower-block__item">
            <img class="flower-block__img" alt="woman making bouquet"
                src="images/woman-making-bouquet-at-the-table.jpeg">
        </li>
        <li class="flower-block__item">
            <img class="flower-block__img" alt="hand with flower" src="images/hand-with-flower-and-other-flowers.jpeg">
        </li>
        <li class="flower-block__item">
            <img class="flower-block__img" alt="woman holds bouquet"
                src="images/woman-holding-bouquet-of-roses-no-face.jpeg">
        </li>
        <li class="flower-block__item">
            <img class="flower-block__img" alt="bouquet of peonies" src="images/bouquet-of-peonies-in-vase.jpeg">
        </li>
        <li class="flower-block__item">
            <img class="flower-block__img" alt="woman cuts rose" src="images/woman-cutting-rose-leaves.jpeg">
        </li>
        <li class="flower-block__item">
            <img class="flower-block__img" alt="bright flowers"
                src="images/bright-colored-flowers-in-front-of-wall.jpeg">
        </li>
    </ul>
</div>