<header class="header top-nav">
  <nav class="header__nav container">
    <div class="header__logo-container">
      <a href="index.html" class="header__logo-link">
        <img
          width="121"
          height="auto"
          class="header__logo-icon"
          src="images/logo-main.svg"
          alt="Sami's Flowers logo"
        />
      </a>
    </div>
    <button class="header__burger-menu" type="button">
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="about.html" class="header__nav-link">About us</a>
      </li>
      <li class="header__nav-item">
        <a href="index.html#our-services" class="header__nav-link">Services</a>
      </li>
      <li class="header__nav-item">
        <a href="index.html#catalog" class="header__nav-link">Flowers</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Testimonials</a>
      </li>
      <li class="header__nav-item">
        <a href="contacts.html" class="header__nav-link">Contacts</a>
      </li>
    </ul>

    <div class="header__call-us">
      Call us:&nbsp;
      <a href="tel:+12345678900" class="header__call-us-link">
        +1 (234) 567 89 00
      </a>
    </div>
  </nav>
</header>
