<header class="header">
  <nav class="header__navigation container">
    <a href="index.html">
      <img class="header__logo-icon" src="images/logo-main.svg" alt="Sami's Flowers logo" />
    </a>
    <div class="header__navigation-wrapper">
      <div class="header__navigation-links">
        <a href="about.html" class="header__navigation__link">About us</a>
        <a href="index.html#our-services" class="header__navigation__link">Services</a>
        <a href="index.html#catalog" class="header__navigation__link">Flowers</a>
        <a href="index.html#testimonials" class="header__navigation__link">Testimonials</a>
        <a href="contacts.html" class="header__navigation__link">Contacts</a>
      </div>
      <div class="header__navigation-contact">
        Call us:&nbsp;
        <a href="tel:+12345678900" class="header__navigation-contact-link">
          +1 (234) 567 89 00
        </a>
      </div>
    </div>
    <div class="header__navigation-contact-us">
      Call us:&nbsp;
      <a href="tel:+12345678900" class="header__navigation-contact-us-link">
        +1 (234) 567 89 00
      </a>
    </div>
    <div class="header__navigation-hamburger"><span></span></div>
  </nav>
</header>