<div class="new-bouquets">
    <p class="new-bouquets__title">New in shop</p>
    <p class="new-bouquets__subtitle">New in Shop Bouquets</p>
    <div class="divider"></div>
    <p class="new-bouquets__select-bouquet">Select your bouquet and get it delivered in the shortest possible time!</p>
    <div class="new-bouquets__carousel-bouquets">
        <div class="new-bouquets__item">
            <img width="270" src="images/amphora-bouquet.png" alt="amphora-bouquet">
            <p class="new-bouquets__name">Amphora</p>
            <p class="new-bouquets__price">$72,00 USD</p>
            <button class="new-bouquets__add-to-cart">Add to cart</button>
        </div>
        <div class="new-bouquets__item">
            <img width="270" src="images/daphne-bouquet.png" alt="daphne-bouquet">
            <p class="new-bouquets__name">Daphne</p>
            <p class="new-bouquets__price">$59,00 USD</p>
            <button class="new-bouquets__add-to-cart">Add to cart</button>
        </div>
        <div class="new-bouquets__item">
            <img width="270" src="images/fantasy-bouquet.png" alt="fantasy-bouquet">
            <p class="new-bouquets__name">Fantasy</p>
            <p class="new-bouquets__price">$119,00 USD</p>
            <button class="new-bouquets__add-to-cart">Add to cart</button>
        </div>
        <div class="new-bouquets__item">
            <img width="270" src="images/autumn-bouquet.png" alt="autumn-bouquet">
            <p class="new-bouquets__name">Autumn</p>
            <p class="new-bouquets__price">$69,00 USD</p>
            <button class="new-bouquets__add-to-cart">Add to cart</button>
        </div>
        <div class="new-bouquets__item">
            <img width="270" src="images/josephine-bouquet.png" alt="josephine-bouquet">
            <p class="new-bouquets__name">Josephine</p>
            <p class="new-bouquets__price">$99,00 USD</p>
            <button class="new-bouquets__add-to-cart">Add to cart</button>
        </div>

    </div>
    <div class="new-bouquets__composition-card">
        <img src="images/composition-card-background.png" alt="olive rectangle as a background"
            class="new-bouquets__composition-card-background">
        <p class="new-bouquets__composition-title">Beautiful <span><i>Compositions</i></span> for Any
            <span><u>Occasion</u></span>
        </p>
        <div class="divider"></div>
        <p class="new-bouquets__composition-subtitle">Surprise your loved ones and make any holiday even happier!</p>
        <ul class="new-bouquets__order-types">
            <li>Wedding Flowers</li>
            <li>Prom Flowers</li>
            <li>Flower Crowns</li>
        </ul>
        <button class="new-bouquets__order">Order Flowers</button>

    </div>
    <div class="new-bouquets__events">
        <div class="new-bouquets__event">
            <img width="50" src="images/restaurants-icon.svg" alt="restaurants icon">
            <p class="new-bouquets__event-name">Retaurants</p>
            <div class="divider"></div>
            <p class="new-bouquets__event-description">Flower decorations for restaurants and cafes.</p>
        </div>
        <div class="new-bouquets__event">
            <img width="50" src="images/weddings-icon.svg" alt="weddings icon">
            <p class="new-bouquets__event-name">Weddings</p>
            <div class="divider"></div>
            <p class="new-bouquets__event-description">Beautiful bridal bouquets and flower archs.</p>
        </div>
        <div class="new-bouquets__event">
            <img width="50" src="images/parties-icon.svg" alt="parties icon">
            <p class="new-bouquets__event-name">Parties</p>
            <div class="divider"></div>
            <p class="new-bouquets__event-description">Bright flower arrangements for themed parties.</p>
        </div>
        <div class="new-bouquets__event">
            <img width="50" src="images/funerals-icon.svg" alt="funerals icon">
            <p class="new-bouquets__event-name">Funderals</p>
            <div class="divider"></div>
            <p class="new-bouquets__event-description">Express your grief with the right flowers.</p>
        </div>
        <div class="new-bouquets__event">
            <img width="50" src="images/funerals-icon.svg" alt="sports & media icon">
            <p class="new-bouquets__event-name">Sports & Media</p>
            <div class="divider"></div>
            <p class="new-bouquets__event-description">Identical bouquets for competition winners.</p>
        </div>

    </div>
</div>