<section id="our-services" class="our-services container">
    <div class="our-services__content">
        <p class="our-services__description">
            Our services
        </p>
        <h2 class="our-services__title">Service We Provide</h2>
        <div class="our-services__divider"></div>
        <p class="our-services__subtitle">We offer a variety of floral services, from unique bouquets to event
            decoration.
        </p>
    </div>
    <div class="our-services__collection row">
        <div class="our-services__decoration col-12 col-sm-6 col-md-4 col-lg-4">
            <img src="images/our-services/flowers_and_chair.jpg" alt="flowers and chair"
                class="our-services__decoration-img">
            <h3 class="our-services__decoration-title">
                Decoration
            </h3>
            <div class="our-services__decoration-content">
                <p>
                    We create elegant flower decorations for homes, offices, shops, and other locations. Contact us if
                    you want to demonstrate your style and taste to your guests, clients or visitors.
                </p>
            </div>
        </div>
        <div class="our-services__events col-12 col-sm-6 col-md-4 col-lg-4">
            <img width="100" src="images/our-services/flower_in_the_glass.jpg" alt="flowers and glass"
                class="our-services__events-img">
            <h3 class="our-services__events-title">
                Events
            </h3>
            <div class="our-services__events-content">
                <p>
                    We know that details matter. That's why we provide and arrange flowers for private and corporate
                    celebrations, charity galas, product launches, and other important events. Come to us to make your
                    event an all-time memory.
                </p>
            </div>
        </div>
        <div class="our-services__floral-design col-12 col-sm-6 col-md-4 col-lg-4">
            <img src="images/our-services/flowers_in_hands.jpg" alt="flowers in hands"
                class="our-services__floral-design-img">
            <h3 class="our-services__floral-design-title">
                Floral Design
            </h3>
            <div class="our-services__floral-design-content">
                <p>
                    Our design team is always here to arrange unique and beautiful bouquets and flower compositions.
                    Hurry up to surprise your loved ones and add some personal touch to your gifts.
                </p>
            </div>
        </div>
</section>
<section class="create-bouquets">
    <div class="create-bouquets__content">
        <p class="create-bouquets__description">
            How we create bouquets
        </p>
        <h2 class="create-bouquets__title">
            Natural Fresh Bouquets
        </h2>
        <div class="divider"></div>
        <h4 class="create-bouquets__subtitle">
            We work with only fresh-cut and high-quality flowers.
        </h4>
        <p class="create-bouquets__text">
            Creating bouquets is an art, and our florists are artists. We use the highest quality flowers from local
            greenhouses and suppliers from the Netherlands and France to create unique arrangements.
        </p>
        <h3 class="create-bouquets__special-collections">
            Special Flower Collections →
        </h3>
        <img width="100" src="images/our-services/circle_red_white_flowers.png" alt="circle_red_white_flowers"
            class="create-bouquets__img-circle">
        <p class="create-bouquets__specialFlowerCollections__content">
            Do you have a wedding or children's birthday? Or do you just want to please loved ones while being far away?
            Our florists will do everything possible to create the best bouquet for you.
        </p>
        <img width="100" src="images/our-services/oval_packaging_of_flowers.png" alt="oval_packaging_of_flowers.png"
            class="create-bouquets__img-oval">
    </div>
</section>