<section id="our-services" class="our-services">
    <div class="services__content">
        <p class="our-services__content-description">
            Our services
        </p>
        <h2 class="service__title">Service We Provide</h2>
        <div class="divider"></div>
        <p class="service__subtitle">We offer a variety of floral services, from unique bouquets to event decoration.
        </p> 
    </div>    
    <div class="services-colection">
        <div class="services-decoration__item">
            <img width="100" src="images/our-services/flowers_and_chair.jpg" alt="flowers and chair" class="services-colection"> 
            <h3 class="services-decoration__title">
                Decoration
            </h3>
            <div class="decoration__content">
                <p>
                    We create elegant flower decorations for homes, offices, shops, and other locations. Contact us if you want to demonstrate your style and taste to your guests, clients or visitors.     
                </p>
            </div> 
        </div>
        <div class="services-events__item">       
            <img width="100" src="images/our-services/flower_in_the_glass.jpg" alt="flowers and glass" class="services-colection"> 
            <h3 class="services-event__title">
                Events
            </h3>
            <div class="events__content">
                <p>
                    We know that details matter. That's why we provide and arrange flowers for private and corporate celebrations, charity galas, product launches, and other important events. Come to us to make your event an all-time memory.     
                </p>
            </div>
        </div>
        <div class="services-flora-design__item"></div>        
            <img width="100" src="images/our-services/flowers_in_hands.jpg" alt="flowers in hands" class="services-colection"> 
            <h3 class="services-floral-design__title">
                Floral Design
            </h3>
            <div class="floral-design__content">
                <p>
                    Our design team is always here to arrange unique and beautiful bouquets and flower compositions. Hurry up to surprise your loved ones and add some personal touch to your gifts.     
                </p>
            </div>           
        </div>    
</section>        

<section class="create-bouquets">
    <div class="create-bouquets__content">
        <p class="create-bouquets__content-description">
            How we crate bouquets
        </p>
        <h2 class="create-bouquets__title">
            Natural Fresh Bouquets
        </h2>
        <div class="divider"></div>
        <h4 class="create-bouquets__subtitle">
            We work with only fresh-cut and high-quality flowers.
        </h4> 
        <img width="100" src="images/our-services/oval_packaging_of_flowers.png" alt="oval_packaging_of_flowers.png" class="create-bouquets">   
        <p class="create-bouquets__content">
            Creating bouquets is an art, and our florists are artists. We use the highest quality flowers from local greenhouses and suppliers from the Netherlands and France to create unique arrangements.
        </p>
        <h3 class="create-bouquets__specialFlowerCollections">
            Special Flower Collections →
        </h3>
        <img width="100" src="images/our-services/circle_red_white_flowers.png" alt="circle_red_white_flowers" class="create-bouquets">
        <p class="create-bouquets__specialFlowerCollections__content">
            Do you have a wedding or children's birthday? Or do you just want to please loved ones while being far away? Our florists will do everything possible to create the best bouquet for you.
        </p>    
    </div>
</section>         