<section id="our-services" class="our-services container">
    <div class="our-services__content">
        <p class="our-services__description">
            Our services
        </p>
        <h2 class="our-services__title">Service We Provide</h2>
        <div class="our-services__divider"></div>
        <p class="our-services__subtitle">We offer a variety of floral services, from unique bouquets to event
            decoration.
        </p>
    </div>
    <div class="our-services__collection row">
        <div class="our-services__decoration col-12 col-sm-6 col-md-4 col-lg-4">
            <img src="images/our-services/flowers_and_chair.jpg" alt="flowers and chair"
                class="our-services__decoration-img">
            <h3 class="our-services__decoration-title">
                Decoration
            </h3>
            <div class="our-services__decoration-content">
                <p>
                    We create elegant flower decorations for homes, offices, shops, and other locations. Contact us if
                    you want to demonstrate your style and taste to your guests, clients or visitors.
                </p>
            </div>
        </div>
        <div class="our-services__events col-12 col-sm-6 col-md-4 col-lg-4">
            <img width="100" src="images/our-services/flower_in_the_glass.jpg" alt="flowers and glass"
                class="our-services__events-img">
            <h3 class="our-services__events-title">
                Events
            </h3>
            <div class="our-services__events-content">
                <p>
                    We know that details matter. That's why we provide and arrange flowers for private and corporate
                    celebrations, charity galas, product launches, and other important events. Come to us to make your
                    event an all-time memory.
                </p>
            </div>
        </div>
        <div class="our-services__floral-design col-12 col-sm-6 col-md-4 col-lg-4">
            <img src="images/our-services/flowers_in_hands.jpg" alt="flowers in hands"
                class="our-services__floral-design-img">
            <h3 class="our-services__floral-design-title">
                Floral Design
            </h3>
            <div class="our-services__floral-design-content">
                <p>
                    Our design team is always here to arrange unique and beautiful bouquets and flower compositions.
                    Hurry up to surprise your loved ones and add some personal touch to your gifts.
                </p>
            </div>
        </div>
    </div>
</section>