<section id="special" class="special container">
    <span class="special__title">Special</span>
    <h2 class="special__subtitle">Special Flower Collections</h2>
    <div class="divider--center"></div>
    <p class="special__text">
        Need to pick a gift for a specific event? We can help you even if you are short of time.
    </p>
    <div class="special__catalog">
        <div class="special__catalog-item item">
            <img class="item__img" src="images/bouquet-of-tulips-in-bag.jpeg" alt="bouquet of tulips">
            <h3 class="special__item-title">Mother's Day Collection</h3>
            <p class="special__item-text">
                One of the best and the most elegant ways to show your mother how much you love her is to present
                her a beautiful flower composition.
            </p>
            <a href="contacts.html" class="special__item-button btn btn--secondary">Order now</a>
        </div>
        <div class="special__catalog-item item">
            <img class="item__img" src="images/bouquet-of-different-flowers.jpeg" alt="bouquet of flowers">
            <h3 class="special__item-title">Valentine's Day Collection</h3>
            <p class="special__item-text">
                If you're looking for a unique gift to your loved one, check out this fantastic collection. It'll
                help you make Valentine's Day really special!
            </p>
            <a href="contacts.html" class="special__item-button btn btn--secondary">Order now</a>
        </div>
        <div class="special__catalog-item item">
            <img class="item__img" src="images/two-bouquets-of-small-flowesr.jpeg" alt="two bouquets">
            <h3 class="special__item-title">Autumn Collection</h3>
            <p class="special__item-text">
                Order bouquets from this beautiful special collection and focus on picking the presents to match
                them, while we'll arrange the flowers.
            </p>
            <a href="contacts.html" class="special__item-button btn btn--secondary">Order now</a>
        </div>
    </div>
</section>