<section id="testimonials" class="testimonials container">
    <span class="testimonials__title">Testimonials</span>
    <h2 class="testimonials__subtitle">Our Clients About Us</h2>
    <div class="divider--center"></div>
    <p class="testimonials__text">
        We're happy to make so many people happy!
    </p>

    <div id="testimonials-carousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/karin.png" class="d-block w-25 mx-auto" alt="Karin">
                <div class="testimonials__carousel-caption d-flex flex-column align-items-center">
                    <h5>Katarina Erwing</h5>
                    <p>"I'm an event planner, and I always turn to Sami's Flowers. They haven't failed me even once, and
                        they always pick the perfect flowers for the occasion!"</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/lisa.png" class="d-block w-25 mx-auto" alt="Lisa and Matt">
                <div class="testimonials__carousel-caption d-flex flex-column align-items-center">
                    <h5>Lisa + Matt Welsh</h5>
                    <p>"They've helped to turn our wedding into a fairytale! Lisa likes how they've listened to her
                        vision, and I believe they've actually exceeded our expectations."</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/katarina.png" class="d-block w-25 mx-auto" alt="Katarina">
                <div class="testimonials__carousel-caption d-flex flex-column align-items-center">
                    <h5>Katarina Erwing</h5>
                    <p>"I'm an event planner, and I always turn to Sami's Flowers. They haven't failed me even once, and
                        they always pick the perfect flowers for the occasion!"</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>