<section class="contacts">
  <div class="container">
    <div contacts__promo>
      <h3 class="title-white">Contacts</h3>

      <div>
        <a href="index.html" class="contacts_link">Home</a> >
        <span>Contacts</span>
      </div>
    </div>
  </div>
</section>

<section class="rules">
  <div class="container">
    <h2 class="cursive-title">Rules</h2>

    <div class="rules__descr">
      <h3 class="main-title">Our Basic Rules</h3>
      <span class="divider"></span>

      <div class="rules__text">
        <ol>
          <li class="rules__item">
            <span class="rules__span"> Privacy rule.</span>When placing an
            order, you can use the right to privacy by indicating anonymity in
            the comments of your order.
          </li>

          <li class="rules__item">
            <span class="rules__span">Home delivery.</span>The order is
            delivered to the recipient personally or to a trusted person upon
            agreement with the recipient or the customer
          </li>

          <li class="rules__item">
            <span class="rules__span"
              >Delivery to the workplace, office, or business center.</span
            >
            Delivery is made only to the reception. If the recipient cannot go
            down to the checkpoint or is not at the address at the specified
            time, the administrator of the online store agrees with the
            customer.
          </li>
        </ol>
      </div>

      <div class="rules__faq">
        <div class="rules_faq-item">
          What flowers do you work with?
          <span class="rules__faq-plus"></span>
        </div>

        <div class="rules_faq-item">
          Do you create exotic bouquets?
          <span class="rules__faq-plus"></span>
        </div>

        <div class="rules_faq-item">
          Can I make an exclusive order?
          <span class="rules__faq-plus"></span>
        </div>

        <div class="rules_faq-item">
          Can you decorate a cafe with flowers?
          <span class="rules__faq-plus"></span>
        </div>

        <div class="rules_faq-item">
          Can I order a bouquet at night?
          <span class="rules__faq-plus"></span>
        </div>
      </div>
    </div>
  </div>
</section>
