<div class="contacts">
  <div class="container">

    <div contacts__promo>
      <h3 class="title-white">Contacts</h3>

      <div>
        <a href="index.html" class="contacts_link">Home</a> >
        <span>Contacts</span>
      </div>
    </div>

  </div>
</div>

<section class="rules">
  <div class="container">
    <h2 class="cursive-title">Rules</h2>

    <div class="rules__descr">
      <h3 class="main-title">Our Basic Rules</h3>
      <span class="divider"></span>

      <div class="rules__text">
        <ol>
          <li class="rules__item">
            <span class="rules__span"> Privacy rule.</span>When placing an
            order, you can use the right to privacy by indicating anonymity in
            the comments of your order.
          </li>

          <li class="rules__item">
            <span class="rules__span">Home delivery.</span>The order is
            delivered to the recipient personally or to a trusted person upon
            agreement with the recipient or the customer
          </li>

          <li class="rules__item">
            <span class="rules__span">Delivery to the workplace, office, or business center.</span>
            Delivery is made only to the reception. If the recipient cannot go
            down to the checkpoint or is not at the address at the specified
            time, the administrator of the online store agrees with the
            customer.
          </li>
        </ol>
      </div>

      <div class="rules__faq">
        <div class="rules_faq-item">
          What flowers do you work with?
          <span class="rules__faq-plus"></span>

          <p class="rules__faq-descr">
            We work with absolutely all flowers. Roses, lilies, peonies, tulips, etc. — there are no favorite or unloved flowers for us.
          </p>
        </div>

        <div class="rules_faq-item">
          Do you create exotic bouquets?
          <span class="rules__faq-plus"></span>
            
          <p class="rules__faq-descr">
            Yes, we work with exotic flowers, but only if they are available in our warehouse. Check the availability of the flowers you need by contacting us.
          </p>
        </div>

        <div class="rules_faq-item">
          Can I make an exclusive order?
          <span class="rules__faq-plus"></span>

          <p class="rules__faq-descr">
            Each bouquet we create is exclusive unless you want a number of identical compositions for your purposes.
          </p>
        </div>

        <div class="rules_faq-item">
          Can you decorate a cafe with flowers?
          <span class="rules__faq-plus"></span>

          <p class="rules__faq-descr">
            Yes, we provide decoration services and can fill your venue with selected flowers and beautiful compositions.
          </p>
        </div>

        <div class="rules_faq-item">
          Can I order a bouquet at night?
          <span class="rules__faq-plus"></span>

          <p class="rules__faq-descr">
            Sure. Our florists work 24/7. Still, you'll need to pay extra for the delivery.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>

<div class="sales">
  <div class="container">
    <span class="sales-discount">%%%%</span>

    <h3 class="title-white">Get Your First Order with a 15% Discount!</h2>
    <p class="sales__text">
      Get advantage of our special offer applicable to any bouquet or service.  
      <i>* To get the discount, use the promo code SAMIFLO when submitting your order.</i>
    </p>

    <title class="cursive-title">Make  first  order</title>

  </div>
</div>

<section class="delivery">
  <div class="container">
    <div class="delivery__wrapper">

      <div class="delivery__descr">
        <h2 class="cursive-title">Delivery</h2>
        <h3 class="title-white">Delivery Conditions</h3>
        <span class="divider"></span>
        <p class="delivery__title-descr">Your order flowers — we deliver joy.</p>

        <div class="delivery__advantages">
            <div class="delivery__advantages-item">
              <img src="#" alt="" class="delivery__icon">
              
              <div class="delivery__txt">
                <h4>Same-Day Delivery</h4>
                <p>The bouquet must be ordered at least 1 hour before receiving it.</p>
              </div>
            </div>

            <div class="delivery__advantages-item">
              <img src="#" alt="" class="delivery__icon">

              <div class="delivery__txt">
                <h4>Free Delivery for Orders Over $59</h4>
                <p>The basic cost of delivery for orders less than $59 in NY is $15.</p>
              </div>
            </div>

            <div class="delivery__advantages-item">
              <img src="#" alt="night delivery icon" class="delivery__icon">
              
              <div class="delivery__txt">
                <h4>Deliveries at Night</h4>
                <p>Flowers delivery at night costs $100. No discounts or offers are eligible.</p>
              </div>
            </div>

        </div>
      </div>

      <div class="delivery__form">
        <form action="">
          <label for="fname">Name</label>
          <input type="text" name="fname" id="fname">

          <label for="phone">Phone number*</label>
          <input type="number" name="ph-number" id="ph-number">

          <label for="email">Email*</label>
          <input type="email" name="email" id="email">

          <label for="message">Message</label>
          <input type="text" name="client-message" id="client-message">
          
          <input type="submit" value="Order Flowers">

        </form>
      </div>

    </div>
  </div>

</section>

<section class="store">
  <div class="container">
    
    <img src="#" alt="our flowers shop">

    <div class="store__descr">
      <h2 class="cursive-title">Our  store</h2>
      <h3 class="title-white">Were Can You Find Us?</h3>
      <span class="divider"></span>

      <div class="store__info">
        <p class="store__address">
          Goddard Hall 80
          Washington Square E,
          New York, NY 10003, USA
        </p>

        <p class="store__contacts">
          <a href="tel:+12345678901">+1 (234) 567 89 01</a>
          <a href="tel:+12345678900">+1 (234) 567 89 00</a>
          <a href="mailto:samisflowers@email.com">samisflowers@email.com</a>
        </p>

      </div>

      <span class="divider-long"></span>

      <div class="store__workhours">
        <p class="store__workhours-weekly">Monday – Friday:
          7am – 7pm</p>

      <p class="class="store__workhours-holidays">Saturday – Sunday:
        8am – 7pm</p>
      </div>

      <!-- <a href="#map" class="store__map">View on Map</a> -->

      <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9507.646700556217!2d-2.965845273701328!3d53.43428750518934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b216efda9671d%3A0x5daa2e216fe4a4b8!2zQW5maWVsZCwg0JvRltCy0LXRgNC_0YPQu9GMLCDQktC10LvQuNC60LAg0JHRgNC40YLQsNC90ZbRjw!5e0!3m2!1suk!2sua!4v1684453864935!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section>
    </div>
  </div>
</section>