<div class="about-top">
  <div class="container">
    <div class="top__banner col-12 pb-30 pt-30">
      <div class="top__banner-container pl-3 pr-3">
        <div class="top__banner-titles d-flex flex-column justify-content-center align-items-center">
          <div class="top__banner-title text-center">
            <h2 class="top__banner-name">About Sami's Flowers</h2>
          </div>
          <div class="top__banner-subtitle text-center mt-4">
            <span class="top__banner-home">Home > <span class="top__banner-about"><u>About us</u></span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="top__info m-auto row col-12 pt-4 pb-5 d-flex justify-content-between">
      <div
        class="top__info-credentials text-center d-flex flex-column justify-content-center align-items-center col-12 col-md-6">
        <div class="mid-divider col-12 col-md-12"></div>
        <div class="top__info-titles col-12 col-md-8">
          <h3 class="top__info-title">
            We Create Flower Bouquets and Arrangements for Any Occasion
          </h3>
        </div>
        <div class="mid-divider col-12 col-md-12"></div>
        <div class="top__info-description">
          <span class="top__article-text">
            We are a small yet professional flower studio based in NY. Our
            mission is to make your lives brighter and beautiful, help you
            impress guests during important events, and make your loved ones
            happy with wonderful bouquets and flower arrangements.
          </span>
        </div>
        <div class="top__info-button d-flex align-items-center">
          <a href="index.html#catalog" class="top__info-link">ORDER FLOWERS</a>
        </div>
      </div>
      <div class="top__info-image col-12 col-md-5">
        <img class="img-fluid" src="images/about/top/description-flowers.png" alt="Women making bouquet">
      </div>
    </div>

    <div class="top__partners m-auto pb-30 justify-content-center">
      <div class="long-divider col-12"></div>
      <div class="top__partners-desc">
        <p class="top__partners-text text-center">
          <em>
            Our pride is in working with exceptional companies to deliver stunning bouquets and create flower
            decorations.
          </em>
        </p>
      </div>

      <div class="animated-carousel">
        <div class="animated-carousel__inner">
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/dummen-orange.svg" alt="Dummen Orange">
              </object>
            </div>
          </div>
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center align-items-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/euroflor.svg" alt="Euroflor">
              </object>
            </div>
          </div>
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center align-items-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/funza.svg" alt="Funza">
              </object>
            </div>
          </div>
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center align-items-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/gifttree.svg" alt="Gift Tree">
              </object>
            </div>
          </div>
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center align-items-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/harry-david.svg" alt="Harry David">
              </object>
            </div>
          </div>
          <div class="carousel-card">
            <div class="carousel-card__img-container d-flex justify-content-center align-items-center">
              <object type="image/svg+xml" data="image.svg">
                <img class="mx-auto" src="images/about/top/partners/sasha-souza.svg" alt="Sasha Souza">
              </object>
            </div>
          </div>
        </div>
        <button class="carousel-button carousel__btn--prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z">
            </path>
          </svg>
        </button>
        <button class="carousel-button carousel__btn--next">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z">
            </path>
          </svg>
        </button>
      </div>
      <div class="top__history-long--divider long-divider"></div>
    </div>

    <div class="top__history pt-60 pb-30 m-auto row d-flex justify-content-center">
      <div class="top__history-image col-12 col-md-5">
        <img src="images/about/top/history-flowers.png" alt="Woman making bouquet">
      </div>
      <div class="top__history-credentials col-12 col-md-6">
        <div class="top__history-article">
          <div class="top__history-title">
            <h4 class="top__history-italic">
              History
            </h4>
          </div>
          <div class="top__history-header mt-3">
            <h2 class="top__history-bold">
              How Our Studio Started
            </h2>
          </div>
          <div class="top__history-mid--divider divider"></div>
          <div class="top__history-block">
            <span class="top__history-text">
              It all started with a great love for flowers.<br><br>
            </span>
            <span class="top__article-text">
              In <em>early 2015</em>, Sami Smith was walking down the street and saw florists working in one of the
              trendy florist shops. She was impressed by the beauty of freshly-cut flowers and bouquets.<br><br>
              She borrowed some money, took a florist course, and opened her small studio in the Bronx. Very quickly,
              her bouquets became very popular. Six months later, <em>Mioko Sudoru</em> joined Sami, and together they
              continued to develop their business and moved to Manhattan.
            </span>
          </div>
        </div>
        <div class="top__history-shop row mt-4 justify-content-around">
          <div class="top__history-shop-image justify-content-center col-3 col-md-3">
            <img src="images/about/top/history-shop.png" alt="Flowers Shop">
          </div>
          <div class="top__history-shop col-7 col-md-8">
            <span class="top__history-story-title">
              Our Studio in 2015<br>
            </span>
            <span class="top__history-story-regular">
              This is what our flower shop looked like when it opened.<br><br>
            </span>
            <span class="top__history-story-italic">
              <em>ph. by Michael Nilson ( 2015, 15 of April)</em>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="top__video m-auto col-12 pt-30 pb-60">
      <iframe class="top__video-src d-block col-12" src="https://www.youtube.com/embed/G7KNmW9a75Y?controls=0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>