<div class="about-top">
  <div class="container">
    <div class="top__banner col-12 pb-60 pt-30">
      <div class="top__banner-container pl-3 pr-3">
        <div
          class="top__banner-titles d-flex flex-column justify-content-center align-items-center"
        >
          <div class="top__banner-title text-center">
            <h2 class="top__banner-name">About Sami's Flowers</h2>
          </div>
          <div class="top__banner-subtitle text-center mt-4">
            <span class="top__banner-home">Home > <span class="top__banner-about"><u>About us</u></span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="top__info m-auto row col-12 pt-4 pb-5 d-flex justify-content-between">
      <div class="top__info-credentials text-center d-flex flex-column justify-content-center align-items-center col-12 col-md-6">
        <div class="mid-divider col-12 col-md-12"></div>
        <div class="top__info-titles col-8">
          <h3 class="top__info-title">
            We Create Flower Bouquets and Arrangements for Any Occasion
          </h3>
        </div>
        <div class="mid-divider col-12 col-md-12"></div>
        <div class="top__info-description">
          <span class="top__article-text">
            We are a small yet professional flower studio based in NY. Our
            mission is to make your lives brighter and beautiful, help you
            impress guests during important events, and make your loved ones
            happy with wonderful bouquets and flower arrangements.
          </span>
        </div>
        <div class="top__info-button d-flex align-items-center">
          <a href="index.html#catalog" class="top__info-link">ORDER FLOWERS</a>
        </div>
      </div>
      <div class="top__info-image col-12 col-md-6">
        <img class="img-fluid" src="images/about/top/description-flowers.png" alt="Women making bouquet">
      </div>
    </div>

    <div class="top__partners m-auto pb-30 justify-content-center">
      <div class="long-divider col-12"></div>
      <div class="top__partners-desc">
        <p class="top__partners-text text-center">
          <em>
            Our pride is in working with exceptional companies to deliver stunning bouquets and create flower decorations.
          </em>
        </p>
      </div>

      <div class="animated-carousel">
        <div class="animated-carousel__inner">
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/dummen-orange.svg" alt="Dummen Orange">
              </object>
            </article>
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/euroflor.svg" alt="Euroflor">
              </object>
            </article>
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/funza.svg" alt="Funza">
              </object>
            </article>
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/gifttree.svg" alt="Gift Tree">
              </object>
            </article>
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/harry-david.svg" alt="Harry David">
              </object>
            </article>
            <article class="carousel-card">
              <object type="image/svg+xml" data="image.svg">
                <img src="images/about/top/partners/sasha-souza.svg" alt="Sasha Souza">
              </object>
            </article>
        </div>
        <button class="carousel__button carousel__btn--prev">⬅</button>
        <button class="carousel__button carousel__btn--next">➡</button>
      </div>
      
      <div class="top__history-long--divider long-divider"></div>
    </div>

    <div class="top__history pt-60 pb-30 m-auto row d-flex justify-content-center">
      <div class="top__history-image col-12 col-md-6">
        <img src="images/about/top/history-flowers.png" alt="Woman making bouquet">
      </div>
      <div class="top__history-credentials col-12 col-md-6">
        <div class="top__history-article">
          <div class="top__history-title">
            <h4 class="top__history-italic">
              History
            </h4>
          </div>
          <div class="top__history-header mt-3">
            <h2 class="top__history-bold">
              How Our Studio Started
            </h2>
          </div>
          <div class="top__history-mid--divider divider"></div>
          <div class="top__history-block">
            <span class="top__history-text">
              It all started with a great love for flowers.<br><br>
            </span>
            <span class="top__article-text">
              In <em>early 2015</em>, Sami Smith was walking down the street and saw florists working in one of the trendy florist shops. She was impressed by the beauty of freshly-cut flowers and bouquets.<br><br>
              She borrowed some money, took a florist course, and opened her small studio in the Bronx. Very quickly, her bouquets became very popular. Six months later, <em>Mioko Sudoru</em> joined Sami, and together they continued to develop their business and moved to Manhattan.
            </span>
          </div>
        </div>
        <div class="top__history-shop row mt-4 justify-content-around">
          <div class="top__history-shop-image justify-content-center col-4 col-md-4">
            <img src="images/about/top/history-shop.png" alt="Flowers Shop">
          </div>
          <div class="top__history-shop col-7 col-md-8">
              <span class="top__history-story-title">
                Our Studio in 2015<br>
              </span>
              <span class="top__history-story-regular">
                This is what our flower shop looked like when it opened.<br><br>
              </span>
              <span class="top__history-story-italic">
                <em>ph. by Michael Nilson ( 2015, 15 of April)</em>
              </span>
            </div>
          </div>
        </div>
    </div>

    <div class="top__video m-auto pt-60 pb-60">
      <iframe src="https://player.vimeo.com/video/799781301?h=07c440be4c" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="top__video-src col-12"></iframe>
    </div>
  </div>
</div>
