<div class="about-top">
  <div class="container">
    <div class="top__banner col-12">
      <div class="top__banner-container pb-4 pt-4 pl-3 pr-3">
        <div
          class="top__banner-titles d-flex flex-column justify-content-center align-items-center"
        >
          <div class="top__banner-title align-items-center">
            <h2 class="top__banner-name">About Sami's Flowers</h2>
          </div>
          <div class="top__banner-subtitle mt-4">
            <span class="top__banner-home">Home > <span class="top__banner-about"><u>About us</u></span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="top__info row col-12 pt-4 pb-5">
      <div class="top__info-credentials text-center d-flex flex-column justify-content-center align-items-center col-12 col-md-6">
        <div class="mid-divider col-12 col-md-6"></div>
        <div class="top__info-titles">
          <h3 class="top__info-title">
            We Create Flower Bouquets and Arrangements for Any Occasion
          </h3>
        </div>
        <div class="mid-divider col-12 col-md-12"></div>
        <div class="top__info-description">
          <span class="top__article-text">
            We are a small yet professional flower studio based in NY. Our
            mission is to make your lives brighter and beautiful, help you
            impress guests during important events, and make your loved ones
            happy with wonderful bouquets and flower arrangements.
          </span>
        </div>
        <div class="top__info-button">
          <a href="../../contacts.html" class="top__info-link">ORDER FLOWERS</a>
        </div>
      </div>
      <div class="top__info-image col-12 col-md-6">
        <img src="images/about/top/description-flowers.png" alt="Women making bouquet">
      </div>
    </div>

    <div class="top__partners">
      <div class="long-divider col-12"></div>
      <div class="top__partners-desc">
        <p class="top__partners-text">
          <em>
            Our pride is in working with exceptional companies to deliver stunning bouquets and create flower decorations.
          </em>
        </p>
      </div>
      <div id="top__partners-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <object data="images/about/top/partners/costa-farms.svg" width="150" height="70" alt="Costa Farms"></object>
          </div>
          <div class="carousel-item">
            <object data="images/about/top/partners/dummen-orange.svg" width="150" height="70" alt="Dummen Orange"></object>
          </div>
          <div class="carousel-item">
            <object data="images/about/top/partners/euroflor.svg" width="150" height="70" alt="Euroflor"></object>
          </div>
          <div class="carousel-item active">
            <object data="images/about/top/partners/funza.svg" width="150" height="70" alt="Funza"></object>
          </div>
          <div class="carousel-item active">
            <object data="images/about/top/partners/gifttree.svg" width="150" height="70" alt="Gifttree"></object>
          </div>
          <div class="carousel-item active">
            <object data="images/about/top/partners/harry-david.svg" width="150" height="70" alt="Harry David"></object>
          </div>
          <div class="carousel-item active">
            <object data="images/about/top/partners/sasha-souza.svg" width="150" height="70" alt="Sasha Souza"></object>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#top__partners-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#top__partners-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="long-divider"></div>
    </div>

    <div class="top__history container row">
      <div class="top__history-image col-12 col-md-6">
        <img src="images/about/top/history-flowers.png" alt="Woman making bouquet">
      </div>
      <div class="top__history-credentials row col-12 col-md-6">
        <div class="top__history-title">
          <h4 class="top__history-italic">
            History
          </h4>
        </div>
        <div class="top__history-header">
          <h2 class="top__history-bold">
            How Our Studio Started
          </h2>
        </div>
        <div class="divider"></div>
        <div class="top__history-block">
          <span class="top__history-text">
            It all started with a great love for flowers.<br><br>
          </span>
          <span class="top__article-text">
            In <em>early 2015</em>, Sami Smith was walking down the street and saw florists working in one of the trendy florist shops. She was impressed by the beauty of freshly-cut flowers and bouquets.<br><br>
            She borrowed some money, took a florist course, and opened her small studio in the Bronx. Very quickly, her bouquets became very popular. Six months later, <em>Mioko Sudoru</em> joined Sami, and together they continued to develop their business and moved to Manhattan.
          </span>
        </div>
        <div class="top__history-shop row">
          <div class="top__history-shop-image col-5 col-md-4">
            <img src="images/about/top/history-shop.png" alt="Flowers Shop">
          </div>
          <div class="top__history-shop col-7 col-md-8">
              <span class="top__history-story-title">
                Our Studio in 2015<br>
              </span>
              <span class="top__history-story-regular">
                This is what our flower shop looked like when it opened.<br><br>
              </span>
              <span class="top__history-story-italic">
                <em>ph. by Michael Nilson ( 2015, 15 of April)</em>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="top__video container">
      <iframe
        class="top__video-src col-12"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</div>
