<!--Master classes-->
    <section>
        <h2>Master classes</h2>
            <p>Registration for Master Classes in Sami's Flowers</p>
                <div class="underline" style="height:2px;width:10%;background-color:rgb(183, 190, 198)"></div>
            <p>
                Want to learn how to create bouquets yourself?
            </p>
            <p>
                From time to time, we hold master classes for everyone who wants to learn how to work with flowers and create unique bouquets.
            </p>
            <ul>
                <li>
                    <img src="./images/about-bottom.partial/flovers-01.png" alt="flovers-01" width="61" height="61">
                    <h3>Spring Flowers Composition</h3>
                    <div class="underline" style="height:2px;width:10%;background-color:rgb(183, 190, 198)"></div>
                    <p>$50</p>
                    <p>
                        Create your own flower arrangement with tulips and daffodils.
                    </p>
                </li>
                <li>
                    <img src="./images/about-bottom.partial/flovers-02.png" alt="flovers-02" width="61" height="61">
                    <h3>Rosy Roses Composition</h3>
                    <div class="underline" style="height:2px;width:10%;background-color:rgb(183, 190, 198)"></div>
                    <p>$60</p>
                    <p>
                        Learn how to work with roses of different species.
                    </p>
                </li>
            </ul>
        <a href="#">Sign up</a>
        <div>
        <img src="./images/about-bottom.partial/flovers-03.png" alt="flovers-03" width="472" height="548">
        </div>
    </section>
    <!--Our team-->
    <section>
        <h2>Meet Our Team</h2>
            <p>
                We are flower lovers an professional florists.
            </p>
        <div>
        <div>
            <h3>Sami Smith</h3>
            <p>
                Owner / florist
            </p>
            <p>
                Sami is our founder and main inspirer. Sami is responsible for ordering flowers from suppliers and creating exclusive bouquets.
            </p>
            <ul>
            <li>
                <a href="https://uk-ua.facebook.com/" target="_blank">
                <img src="./images/about-bottom.partial/facebook-logo.svg" alt="Facebook logo" width="32" height="32">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                <img src="./images/about-bottom.partial/instagram-logo.svg" alt="instagram logo" width="32" height="32">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                <img src= "./images/about-bottom.partial/twitter-logo.svg" alt="Twitter logo" width="33" height="27">
                </a>
            </li>
            <li>
                <a href="https://www.viber.com/" target="_blank">
                <img src="./images/about-bottom.partial/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32">
                </a>
            </li>
        </ul>
        </div>
        <div>
            <img src="./images/about-bottom.partial/sami-smith.jpg" alt="sami-smith" width="295" height="293">
        </div>
        <div>
            <h2>Join Our Team</h2>
            <p>
                Want to work with flowers and create stunning compositions?
            </p>
            <p>
                <span>S</span>end your CV
            </p>
        </div>
        <div>
            <img src="./images/about-bottom.partial/mioko-sudoru.jpg" alt="mioko-sudoru" width="295" height="293">
        </div>
        <div>
            <h3>Mioko Sudoru</h3>
            <p>
                Florist
            </p>
            <p>
                Mioko is a professional florist with more than 5 years of experience with different flowers. Her bouquets look gorgeous!
            </p>
            <ul>
            <li>
                <a href="https://uk-ua.facebook.com/" target="_blank">
                <img src="./images/about-bottom.partial/facebook-logo.svg" alt="Facebook logo" width="32" height="32">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                <img src="./images/about-bottom.partial/instagram-logo.svg" alt="instagram logo" width="32" height="32">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                <img src= "./images/about-bottom.partial/twitter-logo.svg" alt="Twitter logo" width="33" height="27">
                </a>
            </li>
            <li>
                <a href="https://www.viber.com/" target="_blank">
                <img src="./images/about-bottom.partial/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32">
                </a>
            </li>
        </ul>
        </div>
        <div>
            <img src="./images/about-bottom.partial/team-photo.jpg" alt="mioko-sudoru" width="295" height="306">
        </div>
        </div>
    </section>
        <!--Christian Dior quote-->
    <section>
        <p>
            "After women, flowers are the most lovely thing God has given the world."
        </p>
        <p>
            -Christian Dior-
        </p>
    </section>
