<!-- Master classes -->
<section class="master-classes-section">
<div class="master-classes-container">
  <div class="master-classes-wrapper">
    <div class="master-classes-info">
    <h2 class="master-classes-title">Master classes</h2>
  <p class="master-classes-registration">Registration for Master Classes in Sami's Flowers</p>
  <div class="divider"></div>
  <p class="master-classes-text-accent">Want to learn how to create bouquets yourself?</p>
  <p class="master-classes-text">
    From time to time, we hold master classes for everyone who wants to learn
    how to work with flowers and create unique bouquets.
  </p>
  <ul class="master-classes-list">
    <li class="master-classes-item">
      <div class="master-classes-image">
        <img src="./images/about/bottom/flovers-01.png" alt="flovers-01" width="70" height="70" />
      </div>
          <div class="master-classes-price-wrapp">
            <div class="master-classes-price">
              <h3 class="master-classes-price-title">Spring Flowers Composition</h3>
          <div class="underline"></div>
            <p class="master-classes-price-info">$50</p>
          </div>
            <p class="master-classes-price-text">Create your own flower arrangement with tulips and daffodils.</p>
        </div>
    </li>
    <li class="master-classes-item">
      <div class="master-classes-image">
        <img src="./images/about/bottom/flovers-02.png" alt="flovers-01" width="70" height="70" />
      </div>
          <div class="master-classes-price-wrapp">
            <div class="master-classes-price">
              <h3 class="master-classes-price-title">
              Rosy Roses Composition</h3>
          <div class="underline"></div>
            <p class="master-classes-price-info">$60</p>
          </div>
            <p class="master-classes-price-text">Learn how to work with roses of different species.</p>
        </div>
    </li>
  </ul>
  <a class="sign-up-link" href="index.html#our-services">Sign up</a>
  </div>
    <div class="flovers-shop-img-wrapp">
      <img src="./images/about/bottom/flovers-03.png" alt="flovers-03" width="472" height="548" class="flovers-shop-img"/>
    </div>
  </div>
</div>
</section>
<!--Our team-->
<section class="team-section">
  <div class="team-container">
  <div class="team-title-wrapper">
    <h2 class="team-title"> Our Team</h2>
    <p class="team-registration">Meet Our Team</p>
    <p class="team-text-accent">We are flower lovers an professional florists.</p>
  </div>

  <div class="team-boxes-wrapper">
    <div class="team-box-inner">
      <div class="team-box">
      <h2 class="team-box-title">Sami Smith</h2>
      <p class="team-box-position"><em>Owner / florist</em></p>
      <p class="team-box-content">
        Sami is our founder and main inspirer. Sami is responsible for ordering
        flowers from suppliers and creating exclusive bouquets.
      </p>
      <ul class="team-box-icon-list">
        <li class="team-box-icon-list-item">
          <a href="https://uk-ua.facebook.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/facebook-logo.svg" alt="Facebook logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://www.instagram.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/instagram-logo.svg" alt="instagram logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://twitter.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/twitter-logo.svg" alt="Twitter logo" width="33" height="27" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://www.viber.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
      </ul>
    </div></div>


    <div class="team-box-inner">
      <div class="team-box-image">
        <img src="./images/about/bottom/sami-smith.jpg" alt="sami-smith" width="295" height="293" class="team-box-img"/>
      </div>
    </div>
    <div class="team-box-inner">
      <div class="team-box team-box-accent">
        <img src="./images//about/bottom/team-icon.svg" alt="team-icon" width="50" height="50" class="team-box-icon"/>
      <h2 class="team-box-title team-box-title-accent">Join Our Team</h2>
      <p class="team-box-content team-box-content-accent">Want to work with flowers and create stunning compositions?</p>
      <p class="team-box-after-title">Send your CV</p>
    </div>
  </div>


  <div class="team-box-inner">
        <div class="team-box-image">
      <img src="./images/about/bottom/mioko-sudoru.jpg" alt="mioko-sudoru" width="295" height="293" class="team-box-img"/>
    </div>
  </div>

    <div class="team-box-inner">
      <div class="team-box">
      <h3 class="team-box-title">Sami Smith</h3>
      <p class="team-box-position"><em>Owner / florist</em></p>
      <p class="team-box-content">
        Sami is our founder and main inspirer. Sami is responsible for ordering flowers from suppliers and creating exclusive bouquets.
      </p>
      <ul class="team-box-icon-list">
        <li class="team-box-icon-list-item">
          <a href="https://uk-ua.facebook.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/facebook-logo.svg" alt="Facebook logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://www.instagram.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/instagram-logo.svg" alt="instagram logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://twitter.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/twitter-logo.svg" alt="Twitter logo" width="33" height="27" class="team-box-icon-image"/>
          </a>
        </li>
        <li class="team-box-icon-list-item">
          <a href="https://www.viber.com/" target="_blank" class="team-box-icon-list-item-link">
            <img src="./images/about/bottom/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32" class="team-box-icon-image"/>
          </a>
        </li>
      </ul>
    </div>
  </div>

    <div class="team-box-inner">
      <div class="team-box-image">
          <img src="./images/about/bottom/team-photo.jpg" alt="mioko-sudoru" width="295" height="293" class="team-box-img"/>
    </div>
  </div>


  </div>
  </div>
</section>
<!--Christian Dior quote-->
<section class="quote-section">
  <div class="quote-container">
    <div class="quote-content">
      <div class="quote-inner">
        <div class="quote-inner-box">
          <div class="quote-inner-item">
            <div class="quote-content-wrapper">
              <div class="quote-wrapp">
            <p class="quote-text">
          "After women, flowers are the most lovely thing God has given the world."</p>
          <div class="quote-icon-wrapper">
            <div class="quote-icon-container">
              <div class="quote-icon-container-inner">
                  <div class="quote-icon">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width:50px" height="50px"><g fill="#b7bec1"><path d="M48.87,42.353c0-11.276-9.14-20.417-20.417-20.417c-11.277,0-19.462,8.826-20.417,20.062   c-1.458,17.145,11.567,31.5,27.38,36.067c-5.39-3.259-9.15-8.927-9.777-15.519c0.923,0.131,1.857,0.224,2.814,0.224   C39.73,62.77,48.87,53.63,48.87,42.353z" fill="#b7bec1"></path><path d="M92,42.353c0-11.276-9.14-20.417-20.418-20.417c-11.276,0-19.462,8.826-20.418,20.062   c-1.458,17.145,11.567,31.5,27.381,36.067c-5.39-3.259-9.149-8.927-9.777-15.519c0.923,0.131,1.858,0.224,2.814,0.224   C82.86,62.77,92,53.63,92,42.353z" fill="#b7bec1"></path></g></svg>
                    </div>
      </div>
                    </div>
            </div>
          </div>
              </div>
    <p class="quote-author">-Christian Dior-</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>