 .animated-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.animated-carousel__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.animated-carousel .carousel-card {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 178px;
}

.animated-carousel .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.animated-carousel .carousel__btn--prev {
    left: 10px;
}

.animated-carousel .carousel__btn--next {
    right: 10px;
}

.carousel-card__img-container {
    width: 180px;
    max-height: 140px;
    margin: 0 10px 0 10px;
    background-color: rgba(124, 118, 105, 0.03);
}

.carousel-card__img-container img {
    display: block;
    width: 70%;
    max-height: 140px;
}