.carousel-button {
	border: none;
	background-color: transparent;
	outline: none;
	background: none;
    cursor: pointer;
}

svg.bi-arrow-right-circle-fill:hover,
svg.bi-arrow-left-circle-fill:hover {
	fill: var(--text-main-accent-color);
}

#carousel-btn-icon-next {
	background-size: cover;
	height: 32px;
	width: 32px;
	display: block;
}

.animated-carousel__wrapper {
	overflow: hidden;
}

.carousel-slide {
	min-width: 100%;
}

.animated-carousel__slides {
	transition: transform 0.5s ease-out;
	display: flex;
}

.carousel-slide__img-container {
    width: 270px;
    height: 150px;
    background-color: rgba(124, 118, 105, 0.03);
}

.carousel-slide__img-container img {
    width: 45%;
    height: 45%;
}

@media (min-width: 768px) {
	.animated-carousel__slides {
		display: flex;
	}

	.carousel-slide {
		min-width: 50%;
	}

    .carousel-slide__img-container {
        width: 280px;
        height: 160px;
    }
}

@media (min-width: 1024px) {
	.carousel-slide {
		min-width: 20%;
	}

    .carousel-slide__img-container {
        width: 220px;
        height: 160px;
        margin: 0 15px 0 15px;
    }

    .carousel-slide__img-container img {
        width: 55%;
        height: 55%;
    }
}