.long-divider {
    height: 2px;
    margin: 15px 0;
    background-color: var(--text-decorative-color);
}

.mid-divider {
    height: 2px;
    margin: 15px 0;
    background-color: var(--text-decorative-color);
}

.top__history-mid--divider {
    display: flex;
    justify-content: flex-start;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-60 {
    padding-top: 60px;
}

.top__banner-container {
    background-image: url("../../images/about/top/about-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    max-height: 200px;
}

.top__banner-titles {
    min-height: 190px;
}

.top__banner-name {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-about-title);
    color: var(--text-about-title-color);
    margin-bottom: 0;
}

.top__banner-home {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    color: var(--text-main-accent-color);
}

.top__banner-about {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    font-weight: bold;
    color: var(--text-name-item-color);
}

.top__info-title {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-about-section-title);
    color: var(--text-main-accent-color);
}

.top__article-text {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    color: var(--text-color);
}

.top__info-button {
    margin-top: 35px;
}

.top__info-link {
    color: var(--new-bouquets-text-color-compositions);
    padding: 15px 25px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: var(--btn-secondary-background-color);
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
}

.top__info-link:hover {
    background-color: var(--btn-secondary-hover-background-color)
}

.top__info-image {
    margin-top: 45px;
    padding: 35px;
}

.top__partners-text {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    color: var(--text-main-accent-color);
}

.top__history-long--divider {
    margin-top: 65px;
}

.top__history-image {
    padding: 45px;
    margin-right: 20px;
}

.top__history-image img {
    width: 100%;
}

.top__history-credentials {
    margin-top: 60px;
}

.top__history-italic {
    font-family: var(--font-decorative-text);
    font-size: var(--font-size-decorative-text);
    color: var(--text-decorative-color);
}

.top__history-bold {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-about-title);
    color: var(--text-main-accent-color);
}

.top__history-text {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    color: var(--text-subtitle-color);
    font-weight: bold;
}

.top__history-story-title {
    font-family: var(--font-main-accent-text);
    font-size: var(--font-size-features-title-text);
    color: var(--text-name-item-color);
}

.top__history-story-regular {
    font-family: var(--font-text);
    font-size: var(--font-size-official-info-text);
    color: var(--text-color);
}

.top__history-story-italic {
    font-family: var(--font-text);
    font-size: var(--font-size-official-info-text);
    color: var(--text-color);
}

.top__history-bold {
    padding-bottom: 0;
}

.top__video {
    height: 100%;
}

.top__video-src {
    min-height: 600;
}

@media (min-width: 576px) {
    .top__video-src {
        min-height: 324px;
    }
}

@media (min-width: 767px) {
    .top__video-src {
        min-height: 432px;
    }

    .top__history-image {
        margin-right: 25px;
        padding: 40px;
    }

    .top__info-image {
        margin-left: 25px;
        padding: 45px;
    }
    
}

@media (min-width: 992px) {
    .top__video-src {
        min-height: 558px;
    }
}

@media (min-width: 1200px) {
    .top__video-src {
        min-height: 675px;
    }
}